.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 30px;
    height: 30px;
  }
  h1 {
    flex: 1;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: var(--color-button-login);
  }
}
